@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome To Shopping Bay</h4>
</div>

<div>
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="User" asp-action="Create">Create an Account</a></button>
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="User" asp-action="Login">Login</a></button>
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Location" asp-action="Create">Add Location</a></button>
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Location" asp-action="LocationList">Location List</a></button>

</div>
</div>

