

@{
    ViewData["Title"] = "LoggedInLandingPage";
}


<p>@ViewData["Title"]</p>

<h1>@ViewData["Welcome"]</h1>

@*buttons to view a User.*@

<div>
        <button class="btn-light"><a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Login</a></button>
</div>

