
@{
    ViewData["Title"] = "HomeLandingPage";
}


<p>@ViewData["Title"]</p>

<h1>@ViewData["Welcome"]</h1>

@*buttons to view a User.*@

<div>
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Login</a></button>
    @* <button class="btn-light"><a class="btn" asp-area="" asp-controller="User" asp-action="UserList">See The Player List!</a></button> *@
</div>
