@model ModelsLayer.Product



@{
    ViewData["Title"] = "If you Want to see the Produts list ?";
}

<h1>Click bellow</h1>

<p>@ViewData["Title"]</p>

<h1>@ViewData["Current Products"]</h1>

@*buttons to view a Order.*@

<div>
    <button class="btn-light"><a class="btn" asp-area="" asp-controller="Product" asp-action="ProductList">See All Products!</a></button>
</div>
