@model ModelsLayer.Order

@{
    ViewData["Title"] = "If you Want to see your Orders?";
}

<h1>Click bellow</h1>

<p>@ViewData["Title"]</p>

<h1>@ViewData["Current Orders"]</h1>

@*buttons to view a Order.*@

<div>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>
